<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(event);">&nbsp;Add New Event</button>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">List of Events
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter event ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="events.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="events.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading events.........</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="v in events | filter:filterProduct | orderBy:'-id'" id="{{c.event_id}}" animate-on-change='c.event + c.event_start_datetime + c.event_datetime' ng-animate=" 'animate'">
        <td>{{v.event_id}}</td><td>{{v.event}}</td><td>{{v.event_start_datetime}}</td><td>{{v.event_end_datetime}}</td>
        <td>
            <button class="btn" ng-class="{Active:'btn-success', Inactive:''}[v.status]" ng-click="changeEventStatus(v);">{{v.status}}</button>
        </td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(v);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteProduct(v);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>

              